<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
          <ExcludeByFile>**/Program.cs;**/*ServiceCollectionExtensions.cs;**/*DbContext.cs</ExcludeByFile>
          <Include>**/*Repository.cs;**/*Controller.cs;**/*UseCase.cs;**/*Dto.cs;**/*Extensions.cs</Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings> 